@import './markdown.css';

:root {
  --primary-light: #c5e6bb;
  --primary-dark: #17391a;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #c5e6bb;
  color: #17391a;
  color-scheme: light;
}

html.dark {
  background: #17391a;
  color: #c5e6bb;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
